@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One|Roboto+Mono:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: var(--color-primary);
	font-family: var(--font-family-primary);
	overflow-x: hidden;
	position: relative;
}

h1 {
	font-size: calc(1.5rem + 4vmin);
	font-weight: 700;
	margin-bottom: 2rem;
}

p {
	line-height: 1.4;
}

a {
	font-weight: 700;
}

.center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: -1;
	text-align: center;
	transform: translateY(-50%);
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 7vw;
	line-height: 1;
	text-align: center;
	-webkit-text-stroke: 2px var(--color-light);
	-webkit-text-fill-color: transparent;
	color: transparent;
}

.page-container {
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	justify-content: center;
	margin: 0 auto;
	max-width: 45rem;
	padding: 1rem;
}

.page-container > * + * {
	margin-top: 1.5rem;
}
